*{
    
    padding: 0px;
   
}
.header{
    width: 90%;
    height: 70px;
    background-color: rgb(208, 223, 230);
    border-radius: 25px;
    border: 2px solid rgb(79, 33, 33);
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin-left: 40px;
}
.searchbox input{
    height: 25px;
    width: 400px;
    padding: 8px 14px;
    border: 2px solid black;
    border-radius: 20px;
    
    
    
}
.searchbox :hover{
    border-color: #ca0b0b;       /* tomato/orange border on hover */
    
}
a{
    text-decoration: none;
    color: #111010;
}
.nav-links  {
    margin-left: 100vh; 
}
 a:hover{
    color: rgb(2, 2, 12);
}
h1 ,h2{
    text-align: center;
    margin-top: 20px;
    color: rgb(8, 8, 8);
}
h2{
    margin-top: 30px;
}
.maincontent{
    width: 100%;
    height: 400px;
    background-color: rgb(228, 247, 252);
    justify-content: center;
    border: 2px solid rgb(79, 33, 33);
    border-radius: 25px;
    margin-top: 5px;
    display: flex;
}
.restro{
    height: 300px;
    width: 250px;
    background-color: #ca0b0b;
    margin: auto;
    border-radius: 20px;
    

}
.restro p{
    text-align: center;
    color: rgb(15, 14, 14);
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
.restro img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.restro:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.categories{
    padding: 50px;
   
    grid-template-columns: repeat(3, 1fr);
     display: grid;
    
}