body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f6fff8;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  padding: 10px 20px;
}

.logo {
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Hover effect */
.nav-links a:hover {
  text-decoration: underline;
}

/* Main content */
.container {
  padding: 20px;
  text-align: center;
}

.main {
  padding: 20px;
}

.categories {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.categories p {
  padding: 8px 15px;
  margin-right: 10px;
  background-color: #d4f8d4;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.categories p:hover {
  background-color: #a8e6a3;
}


/* notes  div*/


/* Main box */
.notes-section {
  width: 350px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  border-radius: 15px;
  border: 1px solid rgba(33, 31, 31, 0.3);

  box-shadow: 0 8px 20px rgba(0,0,0,0.1);

  display: inline-block;
}

/* Inputs */
.input-group {
  margin-bottom: 15px;
  border: #4CAF50 1px solid;
   
}
.input-group:hover{
  border: #4CAF50 2px solid;
}
.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;

  border: none;
  outline: none;

  border-radius: 10px;

  background: rgba(255,255,255,0.4);
}

/* Textarea size */
textarea {
  height: 80px;
  resize: none;

}

/* Button */
.save-btn {
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 10px;

  background: linear-gradient(45deg, #4CAF50, #66bb6a);
  color: white;

  cursor: pointer;
}

.save-btn:hover {
  background: linear-gradient(45deg, #255a28, #1f4c20);
}

/* notes list css to be added displyed here*/
#notesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 20px;
}

/* note card */
.noteBox {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* title */
.noteTitle {
  background: #4CAF50;
  color: white;
  padding: 8px;
  font-weight: bold;
}

/* desc */
.noteDesc {
  padding: 10px;
}

/* buttons */
.noteActions {
  padding: 10px;
}

.noteActions button {
  margin-right: 5px;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
}
